section#search-section {
	@include wh;
	@include gridColRow(c1, c2, r1, r2);
	background: #212125;
	display: grid;
	grid-template-columns:
		[c1] 1rem [c2] 1000px [c3] 150px [c4] 1fr
		[c5] 50px [c6] 50px [c7] 50px [c8];
	grid-template-rows:
		[r1] 1fr [r2];

	div#search-wrap {
		@include gridColRow(c2, c3, r1, r2);
		@include wh(normal, 100%, 100%);
		@include gridItemPosition;

		input {
			border-radius: 0;
			background: #404969;
			border: 0;
			color: #fff;
			&:focus {
				outline: none;
			}
			&::placeholder {
				color: #fff;
			}
		}

		div.input-group-append {

			span.bg-span {
				background: #00BBF0;
			}
			span.input-group-text {
				@include flex;
				border-radius: 0;
				border: 0;
				width: 50px;
				&:hover {
					i {
						transition: all 0.25s ease-in-out;
						transform: scale(1.2);
					}
				}

				i {
					color: #fff;
				}
			}
		}
	}

	a#adv-search {
		@include wh;
		@include gridColRow(c3, c4, r1, r2);
		background: #03a9f4;
		color: #fdfdfd;
		border: 0;
		&:hover {
			background: #2393f0;
		}
		&:focus {
			outline: 0;
		}
	}

	a {
		@include wh;
		@include flex;
		background: #00BBF0;
		text-decoration: none;
		&:hover {
			background: #00C851;
		}
		i {
			font-size: 1.5rem;
			color: #fff;
		}
	}

	a#export {
		@include gridColRow(c5, c6, r1, r2);
	}

	a#config {
		@include gridColRow(c6, c7, r1, r2);
	}

	a#help {
		@include gridColRow(c7, c8, r1, r2);
	}

}
